name: Build

on: [push]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: windows-latest
    timeout-minutes: 30

    # strategy:
    #   matrix:
    #     dotnet-version: [6.0.x]

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      # - name: Setup .NET ${{ matrix.dotnet-version }}
      #   uses: actions/setup-dotnet@9211491ffb35dd6a6657ca4f45d43dfe6e97c829 # tag=v2.0.0
      #   with:
      #     dotnet-version: ${{ matrix.dotnet-version }}

      - name: restore packages
        run: dotnet restore

      - name: build
        run: dotnet build --no-restore -c Release

      - name: test
        run: dotnet run --no-build -c Release --project src/Bench.IPC -- -f '*'
